.container {
    text-align: center;
}

h1 {
    color: red;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}

.jumbotron {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.color-yellow {
    color: rgb(226, 178, 23);
}

.color-purple {
    color: purple;
}

.color-red {
    color: red;
}

h1,
h2
{
    text-align: center;
}


.card {
    border-radius: 10px;
    margin-top: 10px;
}


img {
    height: 400px;
}

.card-text {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.mycontainer {
    width: 100%;
    background-color: #343A40;
    margin-top: 50px;
}

.my-card-text{
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}
